footer {
  position: fixed;
  bottom: 0;
  background-color: #E8E7E7;
  height: 4%;
  width: 100%;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer p {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}