.content-header {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 38%;
  background-color: rgb(255, 252, 230);
}

.logo-img {
  width: 35%;
  height: 40%;
}

/*navbar style*/
.navbar-contact {
  width: 35%;
  height: 25%;
  margin: 5px;
  position: relative;
}

ul {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.home-bar {
  position: relative;
  right: 30px;
}

li {
  list-style: none;
  font-size: 30px;
  padding: 5px;
  cursor: pointer;
}

svg {
  color: black;
}



@media (min-width: 900px) {
  .logo-img {
    width: 25%;
    height: 90%;
  }

  .navbar-contact {
    width: 15%;
  }
}