.recipe-details-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2%;
}

.title-recipe-details {
  color: black;
  text-shadow: 5px 5px 0px #ffbc6d;
  text-align: center;
}

.box-details-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1%;
}


.summary-recipe {
  padding: 1%;
  width: 100%;
}

.box-in {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ingredient {
  margin: 10px;
  text-align: center;
}

.ingredient h2 {
  margin: 15px;
}

.ingredient ol {
  list-style-type: disc;
  display: grid;
  justify-items: center;
  align-content: center;
  font-size: 15px;
  row-gap: 5px;

  margin: 20px;
}

.ingredient li {
  text-align: center;
  width: fit-content;
}

.instructions {
  width: 90%;
  margin: 10px;
}

.summary-recipe p,
.instructions p {
  font-size: 15px;
  text-align: center;
}

.instructions h2 {
  text-align: center;
  margin: 15px;
}

@media (min-width: 1200px) {

  .box-details-card {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .summary-recipe {
    width: 30%;
  }

  .box-in {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    margin: 15px;

  }

  .ingredient {
    display: flex;
    flex-direction: column;
    width: 30%;
    text-align: start;
  }

  .ingredient ol {
    font-size: 17px;
    justify-items: start;
  }


  .ingredient li,
  .instructions li {
    text-align: start;
    width: fit-content;
  }

  .instructions {
    width: 30%;
  }

  .summary-recipe p,
.instructions p {
  font-size: 17px;
}

.instructions h2,
.ingredient h2 {
  text-align: start;
}

}