html{
  scroll-behavior: smooth;
  overflow-y: hidden;
}

* {
  box-sizing: border-box;
}

.app {
  background-color: #203D1C;
  height: 100vh;
}

.body-cont {
  height: 99%;
  background-color: #203D1C;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
  margin: 0;
}

h2 {
  margin: 5px;
  color: #FFBC6C;
  text-shadow: 2px 2px 1px black;
}

h1{
  margin: 0;
  line-height: 40px;
  font-weight: 900;
  color: #FFBC6C;
  text-shadow: 4px 4px 1px black;
  margin: 5px;
}


svg {
  color: black;
}